$primary: #707070;
$secondary: #449BCA;

@import "./bootstrap/scss/bootstrap.scss";


* {
    text-decoration: none;
    font-family: "Segoe UI",  "Roboto", sans-serif!important;
    font-weight: normal;
}
nav{
    text-align: center;
    grid-area: nav;
    grid-row: 3/3;
    grid-column: 2/2;}
    a{
        color: darken($secondary, $amount: 10)!important;
        padding: 1rem;
        font-size: 1.2rem; font-weight: bold;}

body {
    background-color: darken($primary, 5);
    height: 100%;
    padding: 0!important;
    main{
        margin-top: 1rem;
        box-shadow: 0 0 5px black;
        border-radius: 10px 10px 0 0;
        padding-bottom: 1rem;
        background-color: lighten($primary, 20);
        .main-headline{
            padding-left: 3rem;
            padding-right: 3rem;
            margin-bottom: 3rem;
        .headline-color{
            color: $primary;}
                }
        }
        .color-darken{
            color: darken($primary, 15);}
        form{
            padding: 2rem;
        }
        .container{
            padding-left: 0rem;
            padding-right: 0rem;
        }
    }
    div{
        h3,p{
            padding-left: 2rem;
            padding-right: 2rem;
        }
        .table{
            font-size: 11px;
        }
        ul li p{
            padding: 0rem;
        }
    }
    footer{
        div{
            div{
                img{padding-bottom: 1rem;
                }
            }
        }
        margin-bottom: 1rem;
        box-shadow: 0 0 5px black;
        border-radius: 0 0 10px 10px;
        background-color: lighten($primary, 30);
        .footer-deco{
            text-align: left;
            color: $secondary;
            p{
                padding-left: 1rem;
                font-weight: bolder;
            }
        }
    }

header{
    background: rgb(112,112,112);
    background: linear-gradient(180deg,#a3a3a3 0%, $primary 50%,#a3a3a3 100%);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    }
    
@media (min-width:992px){
    nav{
        max-width: fit-content!important;}
    }
    
@media (min-width: 1200px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 960px!important;}
    }
@media (max-width:420px){
    .main-headline {margin-top: 3rem;}
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    .one{
        order: 1;
        padding: 2rem;
        }
    .two{
        order: 2;
        padding: 2rem;
    }
}
.wrapper2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.social-header {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-end; }

.icon-social {
    height: 4rem; }

@media (max-width: 734px){
    .aside{display: none;}

}

